<!DOCTYPE html>
<html ng-app="websitesApp">
<head>
    <meta charset="utf-8" />
    <title>Top Websites</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="websitesController">

        <h1>Top Website Visits</h1>
        <br />

        Visit Dates :
        <select >
            <option ng-repeat="visitDate in visitDateList">{{visitDate}}</option>
        </select>

        <br /><br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Website</th>
                    <th>Visit Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="websiteVisit in webistesVisitList">
                    <td>{{websiteVisit.website}}</td>
                    <td>{{websiteVisit.visitCount | number}}</td>
                </tr>
            </tbody>
        </table>

    </div>


    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/websiteDataService.js"></script>
    <script src="js/controllers/websiteController.js"></script>
</body>
</html>